{%extends 'index.html'%}
 {% block Lista %}
 {% if clientes %}
 <table class="tabla">

    <tr>
        <td>RUN</td> <td>Nombre</td><td>Apellido</td> <td>telefono</td> <td> </td>

    </tr>
    {% for p in clientes %}
    <tr>
            <td>{{p.run}}<td> <td>{{p.nombre}}</td><td>{{p.apellido}}</td> <td>{{p.telefono}}</td> <td> </td>
    
        </tr>
        {%endfor%}
 </table>
{%else%}

<h2>No hay clientes</h2>

{%endif%}
{%endblock%}

{%block Formulario%}
<h2>Agregar Cliente</h2>
<form method="POST">
        {% csrf_token %}
        {{form.as_p}}
    <button type="submit"> Agregar Cliente</button>

</form>

{% endblock %}
