{%extends 'index.html'%}
{% block Rescatado %}
<h1>AGREGAR RESCATADO</h1>


<form method="POST" id="formulario" enctype="multipart/form-data">
    {% csrf_token %}
<table>
    <tr>
        <td>nombre</td><td><input type="text" id="nombre"></td>
    </tr>
    <tr>
        <td>raza</td><td><input type="text" id="raza"></td>
    </tr>
    <tr>
            <td>descripcion</td><td><input type="text" id="descripcion"></td>
        </tr>
    

    <tr>

        <td>estado</td><td><input type="text" id="estado"></td>
    </tr>
    <tr>
        <td>foto</td><td><input type="file" id="foto"></td>
    </tr>
</table>   
<input type="submit" id="agregar" value="Agregar"> 
</form>
{% endblock %}

