{%extends 'index.html'%}
{%block adopcion%}



 <div class=container>
 	<h4>Adopción: </h4>
</div>

<div class=perfil>
  <div class="row">
    <div class="col-md-6 img">
      {% if rescatado.foto %}
<h4><img src="{{rescatado.foto.url}}" width="230"> </h4>
{% else %}
<h4>SIN FOTO </h4>
{% endif %}
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>Nombre: {{rescatado.nombre}} </h5>
        <h5>Nombre: {{rescatado.raza}} </h5>
      </blockquote>
      <p>
        Descripción: {{rescatado.descripcion}}
      </p>
    </div>
  </div>
</div>

{% endblock %}