<!doctype html>
<html lang="es">
	<head>
		{% load staticfiles %}
		 <meta charset="utf-8">
		 <title>Mis Perris!</title>
		 <meta name="description" content="Pagina completa con Flexbox"><!--Utilizamos el descriptor en meta para apoyar la busqueda de contenidos en la web-->
		 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0"><!--las escalas indican un punto inicial,laescala maxima y minima-->

		 <!--jQuery y otros scripts-->
		<script type="text/javascript" src="{% static "/js/prefix.js" %}"></script>
	 	<script type="text/javascript" src="{% static "/js/jquery.js" %}"></script>

		 <!--BOOTSTRAP-->
		<link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">

		<script type="text/javascript" src="{% static "/js/bootstrap.min.js" %}"></script>
		

		<!--CSS-->
		<link rel="stylesheet" href= "{% static "/css/estilos.css" %}">

	</head>
	<body>
		<div class="contenedor">
			<header>			
				<div class="logo">
					<img src="{% static "/images/logo.png"%}" width="150" alt="">
					<a href="#">MIS PERRIS</a>
				</div>
				<nav id="menu">
					<a class="{% if active_tab == 'tab1' %} active{% endif %}" href="{% url 'inicio' %}">INICIO</a>
					<a class="{% if active_tab == 'tab2' %} active{% endif %}" href="#">QUIENES SOMOS</a>
					<a class="{% if active_tab == 'tab3' %} active{% endif %}" href="#">SERVICIOS</a>
					{% if request.user.is_authenticated and request.user.is_superuser %}
                		<a class="{% if active_tab == 'tab4' %} active{% endif %}" href="{% url 'agregar_rescatado' %}">AGREGAR MASCOTA</a>
                	{% else %}
					<a class="{% if active_tab == 'tab4' %} active{% endif %}" href="#">CONTACTANOS</a>
					<a href="{%url 'galeria'%}">GALERIA</a>
                	{% endif %}
                	{% if request.user.is_authenticated %}
                		<a class="{% if active_tab == 'tab5' %} active{% endif %}" href="{% url 'rescatados' %}">ADOPTAR</a>
                	{% else %}
                		<a class="{% if active_tab == 'tab5' %} active{% endif %}" href="{% url 'login' %}">INICIAR SESION</a>
                	{% endif %}
                	{% if request.user.is_authenticated %}
                		<a class="{% if active_tab == 'tab6' %} active{% endif %}" href="{% url 'salir' %}">SALIR</a>
                	{% else %}
						<a class="{% if active_tab == 'tab6' %} active{% endif %}" href="{% url 'registro' %}">REGISTRO</a>		
					{% endif %}	
				</nav>
			</header>
		</div>
        	
		<h1> {{titulo}}</h1> 
		<section>
			<div class="container">
				    {% block inicio %}
					  {% endblock %}
					  {% block galeria %}
					  {% endblock %}
					  
          			{% block lista %}
          			{% endblock %}
          			{% block adopcion %}
          			{% endblock %}

          			<div class="forma">	

          				{% block Formulario %}
          				{% endblock %}
          				{% block Login %}
						{% endblock %}

						{% block Rescatado %}
						{% endblock %}  
						{% block ListaRes %}
						{% endblock %}
						{% block actualizar %}
						{% endblock %}
						{%block eliminar_rescatado%}
						{% endblock %}
						

						
					  </div>
					  
			</div>
			
		</section>
		
		<footer> Desarrollo Web y Mobile  </footer>
	</body>
</html>