{%extends 'index.html'%}
{% block ListaRes %}
<script>
  $(document).ready(function(){
      $.ajax({url: "http://localhost:8000/Perris/backRescList",
      dataType:'json',  success: function(result){
            $("#listRescatados").append("<title>Mis Perris! - Rescatados</title>");
            $("#listRescatados").append("<h2>Lista de Rescatados</h2>");
            $("#listRescatados").append("<table id='tablePreview' class='table table-striped table-bordered'>");            
            $("#listRescatados").append("<thead>");
            $("#listRescatados").append("<tr>");
            $("#listRescatados").append("<th>Cod</th>");
            $("#listRescatados").append("<th>Nombre</th>");
            $("#listRescatados").append("<th>Raza</th>");
            $("#listRescatados").append("<th>Estado</th>");
            $("#listRescatados").append("<th>Descripción</th>");
            $("#listRescatados").append("<th>Foto</th>");
            $("#listRescatados").append("</tr>");
            $("#listRescatados").append("</thead>");
            $("#listRescatados").append("<tbody>");
         
          $.each(result,function(i,items){
            
              $("#listRescatados").append('<tr>'); 
              $("#listRescatados").append("<th scope='row'>"+result[i].codigo+"</th>");
              $("#listRescatados").append("<td> "+result[i].nombre+" </td>");
              $("#listRescatados").append("<td> "+result[i].raza+" </td>");
              $("#listRescatados").append("<td> "+result[i].estado+" </td>");
              $("#listRescatados").append("<td> "+result[i].descripcion+" </td>");
              $("#listRescatados").append("<td> <img src="+result[i].foto+" width='100'> </td>");
              $("#listRescatados").append("<td> <a class='btn btn-primary' role='button'>Editar</a> <a class='btn btn-primary'>Eliminar</a></td>");
              $("#listRescatados").append("<td>   <a class='btn btn-primary' role='button'>Adoptar</a>  </td>");
              $("#listRescatados").append("</tr>");
              $("#listRescatados").append("</tbody>");
              $("#listRescatados").append("</table>");
            

         });
      }});
  })
</script>

<div id="listRescatados">
        
</div>





{%endblock%}